/*.formGridContainer {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*    margin-top: 20px;*/
/*}*/
/*.formContainer1011 {*/
/*    flex-basis: calc(50% - 10px);*/
/*}*/


/*!*grid*!*/


/* Add CSS styles for the grid layout */
.formGridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

.formGridRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.formContainer1011 {
    width: calc(33.333% - 20px); /* Each form container takes up 1/3 of the space minus some margin */
}